<div class="main-container">
  <h1 id='analytics'>Analytics</h1>
  <br>
  <br>
  <!-- <h1 class='charts-header'>Totals</h2>
  <hr> -->
  <div class="flex-container dashboard">
    <div class="well show-box charts-box">
      <h4>Total Users:</h4>
      <h2 class="counts"><%= @decorator.user_count %></h2>
    </div>
    <div class="well show-box charts-box">
      <h4>Total Folders:</h4>
      <h2 class="counts"><%= @decorator.folder_count %></h2>
    </div>
    <div class="well show-box charts-box">
      <h4>Total Binaries:</h4>
      <h2 class="counts"><%= @decorator.binary_count %></h2>
    </div>
    <div class="well show-box charts-box">
      <h4>Average Binaries Per Folder:</h4>
      <h2 class="counts"><%= @decorator.average_binaries_per_folder %></h2>
    </div>
    <div class="well show-box charts-box">
      <h4>Average User Session:</h4>
      <h2 class="counts"><%= @decorator.average_session_duration %> Hours</h2>
    </div>
  </div>
  
  <div class='row'>
    <h1 class="charts-header">Users</h1>
    <hr>
    <div class='col-md-12' style='height: 400px'>
      <h2 class="charts-header">Accumulated Users By Month</h2>
      <div class="charts" style='height: 100%' id="accumulated_users_by_month"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class='row'>
    <div class='col-md-12' style='height: 400px'>
      <h2 class="charts-header">Logins By Weekday</h2>
      <div class="charts" style='height: 100%' id="log_ins_by_weekday"></div>
    </div>
  </div>
  </div>
  
  <br>
  <br>
  <br>
  <br>
  
  <div class='row'>
    <h1 class='charts-header'>File Downloads</h1>
    <hr>
    <div class='col-md-9 dl-col-1' style='height: 400px'>
      <h2 class="charts-header">File Downloads Per Day</h2>
      <div class="charts" style='height: 100%' id="binary_downloads_by_date_plot"></div>
    </div>
    
    <div class='col-md-3 dl-col-2' style='height: 400px'>
      <h2 class="charts-header">Public vs Private File Downloads</h2>
      <div class="charts" style='height: 100%' id="binary_downloads_public_v_private_plot"></div>
    </div>
  </div>
  
  <br>
  <br>
  <br>
  <br>
  
  <div class='row'>
    <h1 class="charts-header">Files</h1>
    <hr>
    <div class='col-md-12' style='height: 400px'>
      <h2 class="charts-header">Files By Type</h2>
      <div class="charts" style='height: 100%' id="binaries_by_type_plot"></div>
    </div>
  </div>
  
  <!-- <div class="row"> -->
  <!-- begin tabbed section -->
  <!-- <div class="card col-md-12" id="toggle">
    <div class="card_header">
      <ul class = "nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#files">Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#file_downloads">File Downloads</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="users" role="tabpanel">
          <%#= render partial: 'admin_header' %>
          <hr>
          <div class='row'>
            <div class='col-md-12' style='height: 400px'>
              <h1 class="charts-header">Accumulated Users By Month</h1>
              <div class="charts" style='height: 100%' id="accumulated_users_by_month"></div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="files" role="tabpanel">
          <%#= render partial: 'admin_header' %>
          <hr>
          <div class='row'>
            <div class='col-md-12' style='height: 400px'>
              <h1 class="charts-header">Files By Type</h1>
              <div class="charts" style='height: 100%' id="binaries_by_type_plot"></div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="file_downloads" role="tabpanel">
          <%#= render partial: 'admin_header' %>
          <hr>
          <div class='row'>
            <div class='col-md-8' style='height: 400px'>
              <h1 class="charts-header">File Downloads Per Day</h1>
              <div class="charts" style='height: 100%' id="binary_downloads_by_date_plot"></div>
            </div>
            
            <div class='col-md-4' style='height: 400px'>
              <h1 class="charts-header">Public vs Private File Downloads</h1>
              <div class="charts" style='height: 100%' id="binary_downloads_public_v_private_plot"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
</div>
