<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

      <ul class="nav navbar-nav navbar-left">

        <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;Folders <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><%= link_to root_path, class: 'nav-link-small' do %><span class="glyphicon glyphicon-folder-close"></span> My Folders</li> <% end  %>
                    <li><%= link_to users_shared_folders_path(current_user.username), class: 'nav-link-small' do %><span class="glyphicon glyphicon-folder-close"></span> Folders Shared with Me</li> <% end  %>
                    <li><%= link_to public_folders_path, class: 'nav-link-small' do %><span class="glyphicon glyphicon-folder-close"></span> Public Folders</li> <% end  %>
        <% else %>
          <li><%= link_to "Public Folders", public_folders_path, class: 'nav-link' %></li>
        <% end %>
              </ul>
          </li>
        </ul>
      </ul>

    <% if current_user %>
      <ul class="nav navbar-nav navbar-left">
        <li> <%= link_to  "", dropbox_auth_path, class: "fa fa-dropbox dropbox-icon nav-link" %> </li>
        <li> <%= link_to "Connect to Dropbox", dropbox_auth_path, class: "nav-link dropbox-words" %> </li>
      </ul>
    <% end  %>

    <ul class="nav navbar-nav navbar-center">
      <a class="navbar-brand" href='<%= root_path %>'>Grab Bag</a>
      <%= link_to image_tag("dropbox-icon-2.png", :class => 'nav-logo'), root_path %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user == nil  %>
      <li><a class="nav-link" href="<%= root_path %>">Log In</a></li>
      <li><a class="nav-link" href="<%= sign_up_path %>">Sign Up</a></li>
      <% else %>
      <li class="dropdown img-dropdown">
        <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
            <img src="<%= current_user.avatar_url %>" class="img-circle special-img"><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if current_admin? %>
                <li> <%= link_to admin_users_path(current_user), class: 'nav-link-small' do %> <span class="glyphicon glyphicon-list"></span> Users Index</li><% end %>
                <li><%= link_to admin_dashboard_path, class: 'nav-link-small' do %><span class="glyphicon glyphicon-signal"></span> Admin Dashboard</li><% end %></li>
                <% end %>
                <% if current_user %>
                <li><%= link_to users_dashboard_path(current_user.username), class: 'nav-link-small' do %> <span class="glyphicon glyphicon-user"></span> My Profile</li> <% end %>
                <li><%= link_to signout_path, class: 'nav-link-small' do %> <span class="glyphicon glyphicon-log-out"></span> Logout</li><% end %>
            <% end  %>
          <% end %>
          </ul>
      </li>
    </ul>
  </div>
</nav>
