
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><%= link_to "Public Folders", public_folders_path, class: 'nav-link' %></li>
        <% if current_user  %>
        <li><%= link_to "Folders Shared with Me", users_shared_folders_path(current_user.username), class: 'nav-link' %></li>
        <li><%= link_to "Connect to Dropbox", dropbox_auth_path, class: "fa fa-dropbox" %> </li>
        <!-- <a class="btn btn-block btn-social btn-dropbox" href"<%#= dropbox_auth_path %>">
          <span class="fa fa-dropbox"></span> Connect to Dropbox
        </a> -->
        <% end %>
      </ul>
    <ul class="nav navbar-nav navbar-center">
      <a class="navbar-brand" href='<%= root_path %>'>Grab Bag</a>
      <%= link_to image_tag("dropbox-icon-2.png", :class => 'nav-logo'), root_path %>
    </ul>
  <!-- <div class="collapse dropdown navbar-collapse" id="navbarNavDropdown"> -->
    <!-- <ul class="nav navbar-nav"> -->

    <ul class="nav navbar-nav navbar-right">

      <% if current_admin? %>
        <li> <%= link_to admin_users_path(current_user), class: 'nav-link' do %> <span class="glyphicon glyphicon-list"></span> Users Index</li><% end %>
      <% end %>

      <% if current_user %>
        <li><%= link_to users_dashboard_path(current_user.username), class: 'nav-link' do %> <span class="glyphicon glyphicon-user"></span> My Profile</li> <% end %>
        <li><%= link_to signout_path, class: 'nav-link' do %> <span class="glyphicon glyphicon-log-out"></span> Logout</li><% end %>
      <% else %>

        <li><a class="nav-link" href="<%= root_path %>">Sign Up</a></li>

      <% end %>
    </ul>

  </div>
</nav>
