<h1>Public Folders</h1>
<div class="folder_contents">
  <table class="table">
    <div class="folders">
      <th width="75px"></th>
      <th>Name</th>
      <th>Owner</th>
      <th>Date Changed</th>
      <th>Status</th>
      <th></th>
      <% @folders.each do |folder|%>
        <tr>
          <!-- <td><%#= image_tag(folder.owner.avatar_url, class: "folders-index-image") %></td> -->
          <td><%= image_tag("good_blue_folder.png", height: 40) %></td>
          <td> <%= link_to folder.name, public_folder_path(folder)%></td>
          <td> <%=folder.owner.username%></td>
          <td> <%=folder.updated_at%></td>
          <td> <%=folder.permission%></td>
          <td> <%= current_admin_folder_delete_button(folder) %></td>
        </tr>
      <% end %>
      <br>
    </div>
  </table>
</div>
