<h1>Your Dropbox Account Info</h1>
<hr>
<br>
<%= image_tag(@account_info.profile_photo_url) %><br>
<h3><%= @account_info.name.display_name  %></h3>
<h4><%= @account_info.email  %></h4><br>
Space allocated on Dropbox: <%= @space_allocated  %><br>
Space used on Dropbox: <%= @space_used  %><br><br>

<h2>Dropbox Home Folder contents:</h2>
<hr>
<div class="row">
  <div class="col-md-6">
  <% @home_folder_contents.each do |entry| %>
  <div class="col-md-6"><h4><%= entry.name  %>
  <%= link_to "Download", @client.download("/picture.jpg") %></h4></div> 
  <% end  %>
  </div>
</div>
