<h1>Your Dropbox Account Info</h1>
<hr>
<br>
<% if @thief.account_info.profile_photo_url == nil %><br>
<%= image_tag("http://home.bbtel.com/assets/user.png", class: "img-thumbnail", size: '150x150') %>
<% else %>
<%= image_tag(@thief.account_info.profile_photo_url)  %><br>
<% end %>

<h3><%= @thief.account_info.name.display_name  %></h3>
<h4><%= @thief.account_info.email  %></h4>
<h5><%= @thief.space_used  %> GB of <%= @thief.space_allocated %> GB used on Dropbox</h5><br><br>

<h2>Dropbox Home Folder contents:</h2>
<hr>
<div class="row">
  <div class="col-md-9">
    <h3>Choose a file to add to your Grab Bag home folder</h3><br>
    <% @thief.home_folder_contents.each do |entry| %>

    <div class="col-md-6">
      <h4>
        <% if entry.name.include?(".")  %>
          <%= raw glyphicon_type(entry.class.to_s.split('::')[2]) %> &nbsp;<%= link_to entry.name, dropbox_upload_file_path(file_name: entry.name, path: entry.path_display), method: :post  %>
        <% else  %>
          <%= raw glyphicon_type(entry.class.to_s.split('::')[2]) %> &nbsp;<%= link_to entry.name %>
        <% end %>




      </h4>
    </div>
    <% end  %>
  </div>
</div>
