    <table class="table">
      <thead>
      <th></th>
      <th><h3 class="table-label">Username</h3></th>
      <th><h3 class="table-label">Name</h3></th>
      <th><h3 class="table-label">Email</h3></th>
      <th><h3 class="table-label">Phone</h3></th>
      <th><h3 class="table-label">Status</h3></th>
      <th><h3 class="table-label">Role</h3></th>
      <th></th>
    </thead>
    <tbody>

    <% @users.each do |user| %>
    <div class="<%=user.username%>">
      <tr>
      <td> <img src=" <%=user.avatar_url%>" class="img-thumbnail" width="60px" alt="User's Profile"></td>
      <td><h4><%=link_to user.username, users_folder_path(user.username, route: "home") %></h4></td>
      <td><h4><%=user.name%></h4></td>
      <td><h4><%=user.email%></h4></td>
      <td><h4><%=user.phone%></h4></td>
      <td><h4><%=user.status%></h4></td>
      <td><h4><%=user.role%></h4></td>
      <td><h4><%=change_status_button(user)%></h4></td>
      <td><h4><%=change_role_button(user)%></h4></td>
      </tr>
    </div>
    <% end %>

  </tbody>
  </table>

  <%= will_paginate @users %>
