<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'dropbox-icon-2.png' %>
    <title>GrabBag</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body>
    <div class="container">
      <%= render partial: 'shared/flash' %>
      <%= render partial: 'shared/navigation' %>
      <%= yield %>
    </div>
  </body>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <%= javascript_include_tag 'application' %>
</html>
